nav, #dd_menu {
    background-color: #212121;
}
  
.dropdown-menu>a:hover {
    background-color: #252525 !important;
}
  
@media (min-width: 768px) {
    #navbarNavDropdown {
      padding-right: 100px;
    }
}

*{
	border:0;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body{
    background-color: #FAFAFA;
    color:rgb(100,100,100);
    line-height: 1.3
}

.parallas, .main, .texto{margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.texto-interior{
	color:#fff;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}
	
.img-uno{background-image: url('../../../private/media/images/dog-3435827_1920.jpg')}

.texto{
	padding:5%;
	width: 90%
}

.p_p{
    font-size: 20px;
    color: #666666;
}

label{
    color: #9E9E9E;
    font-size: 14px;
}



input[type='radio']:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #41A047;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;

}




@media (max-width: 768px) {
    #step_h{
        display: none;
    }    
}

@media (min-width: 768px) {
    #step_h{
        width: 85%;
        align-items: center;
    }    
}